{% extends 'pylib/base.html' %} 
{% load static %}
{% block title %} Homepage {% endblock %} 
{% block css %}{% static 'home/home.css' %}{% endblock %}
 {% block content %} {% if messages %} {% for message in messages %} {{message}} {% endfor %} {% endif %}
<div class='body'>
    {% for book in books %}
    <div class="card">
        <img class="card-image rounded mx-auto d-flex " src="{{book.image.url}}" alt="{{book.name}}" />
        <div class="card-body">
            <h5 class="card-title">{{book.name}} by {{book.author}}</h5>
            {% comment %}
            <p class="card-text">.</p> {% endcomment %}
            <div>
                <p class="card-text">Category : {{book.category}}</p>
            </div>
            {% comment %}
            <p class="card-text">Quantity : {{book.quantity}}</p> {% endcomment %}
        </div>

        <div class="read">
            <a class="" href = "{% url 'detail' book.isbn %}">
              <button type="button" class="moreinfo-button"> More Info </button>
            </a>
            <a class="" href = "{%url 'download' book.isbn %}">
              <button type="button" class="download-button mt-2"> Download PDF </button>
            </a> 
        </div>
        
      </div>
  {% empty %}
    No Books Available at the moment...
  {% endfor %}
  </div>


{% endblock %}