{% extends 'pylib/base.html' %}
{% load static %}
 {% block title %}Feel free to contact us{% endblock %}
{% block css %}{% static 'home/contactus.css' %}{% endblock %}
 {% block content %}




<div class="title d-flex justify-content-center shadow p-3 mb-5 bg-secondary rounded">
    <h2 class="text-light">Contact Us</h2>
</div>
<center>
    <div class="main">
        <div>
            <div class="address flex shadow bg-secondary">
                <h5 class="text-light">Address: Anjar</h5>
            </div>
        </div>
        <div class="mail flex shadow bg-secondary text-light">
            <h5>Email:</h5>
            {% comment %} <a href="mailto:pylib.vebhs@gmail.com" class="text-light">pylib.vebhs@gmail.com</a> {% endcomment %}
            <a href="mailto:vaibhav.anjar@gmail.com" class="text-light">vaibhav.anjar@gmail.com</a>
        </div>
        <div class="call flex shadow bg-secondary">
            <h5 class="text-light">Call us:</h5>
            <a href="+919913628XXX" class="text-light">+919913628XXX</a>
        </div>
    </div>
</center>
</div> {% endblock %}