{% extends 'pylib/base.html' %}
{% load static %}
 {% block title %}Feel free to contact us{% endblock %}
{% block css %}{% static 'home/contactus.css' %}{% endblock %}
 {% block content %}




<div class="title d-flex justify-content-center shadow p-3 mb-5 bg-secondary rounded">
    <h2 class="text-light">Contact Us</h2>
</div>
<center>
    <div class="main ">
        <div>
            <div class="address d-inline-flex shadow bg-secondary rounded"><h5 class="text-light">Address : Anjar</h5>

        </div></div>
        <div>
            <div class="mail flex shadow bg-secondary rounded text-light">Email:
                <a href="mailto:pylib.vebhs@gmail.com" class="text-light">pylib.vebhs@gmail.com</a>
                <br>
                <a href="mailto:vaibhav.anjar@gmail.com" class="text-light">vaibhav.anjar@gmail.com</a>
            </div>
        </div>
        <div class="shadow bg-secondary rounded">
            <p class="call flex text-light">Call us:
                <a href="+919913628XXX" class="text-light">+919913628XXX</a>
            </p>
        </div>
    </div>
</center>
</div> {% endblock %}