{% extends 'pylib/base.html' %}
{% load static %}
 {% block title %}Feel free to contact us{% endblock %}
{% block css %}{% static 'home/contactus.css' %}{% endblock %}
 {% block content %}




<div class="title d-flex justify-content-center ">
    <h2>Contact Us</h2>
</div><center>
<div class="main ">
    <div>
        <div class="address d-inline-flex"><h5>Address : Anjar</h5>

    </div></div>
    <div>
        <div class="mail d-inline-flex">Email :
        <div class="">
            <a href="mailto:pylib.vebhs@gmail.com">pylib.vebhs@gmail.com</a>
            <br>
            <a href="mailto:vaibhav.anjar@gmail.com">vaibhav.anjar@gmail.com</a>
        </div> </div>
    </div>
    <div>
        <div class="call d-inline-flex">Call us:
        <div>+91 9913628XXX</div>
    </div></div></center>
</div> {% endblock %}