{% extends 'pylib/base.html' %} {% load static %} {% block title %}Hello User {% endblock %} {% block css %}{% static 'home/Page.css' %}{% endblock %} {% block content %}
<div class="main">

    <div class="heading ">
        <h1>Welcome to Pylib</h1>
    </div>
    <div class="body">
        <h5>
            <p>Hello User, this website was created for making available books to all and can be readen by all. The technology used in making this website is known Django framework</p>
            <br>
            <p>Let's get start with Viewing books in our library.</p>
        </h5>

    </div>


    <div class="button">
        <a name="row" id="" class=" mb-2" href="{%url 'books' %}"><button class="button-book">Book in library</button></a>
    </div>
</div>

{% endblock %}