{% extends 'pylib/base.html' %} {% load static %} {% block title %}Editing Profile..{% endblock %} {% block css %}{% static 'home/edit.css' %}{% endblock css %} {% block content %}

<form action="" method="post">
    {% csrf_token %} {{message}}
    <div class="main">
        <div>
            <h3 class="heading">Edit Profile Page ..</h3>
        </div>
        <br>
        <h6 class="warning">Prefer not to change username & email add**</h6>

        {{form}}
        <a href="{% url 'changepass' %}" class="password mb-2"> Change Password</a>
        <button type="submit" class="update-button">Update Profile </button>
    </div>

</form>
{% endblock content %}