 {% extends 'registration/acc_base.html' %} {% load crispy_forms_tags %} {% load static%} {% block css %}{% static 'home/user.css'%}{% endblock %} {% block content %}

<div class="box shadow p-3 mb-5 bg-white rounded">
    <header class="header">
        <h5>Login, Enter your credentials here!!</h5>
    </header>
    <form action="" method="post" class="form-control">

        {% csrf_token %}

        <div>
            {{form.as_p}}
        </div><br>
        <div class="">
            <button type="submit" class="login-button">Login</button>
            <p class="new-user">New user
                <a href="{% url 'signup'%}">
                    <button type="button" class="signup-button">Signup</button>
                </a>
            </p>
        </div>
    </form>
</div>
{% endblock content %}