 {% extends 'registration/acc_base.html' %} {% load crispy_forms_tags %} {% load static%} {% block css %}{% static 'home/user.css'%}{% endblock %} {% block content %}

<div class="box">
    <header class="header">
        <h5>Login, Enter your credentials here!!</h5>
    </header>
    <form action="" method="post">

        {% csrf_token %}

        <div class="form-control">
            <label for="username">Enter Your Username : </label> {{form.username}}
        </div>
        <div class="form-control">
            <label for="username">Enter Password : </label><br> {{form.password}}
        </div><br>
        <div><button type="submit" class="btn btn-dark">Login</button></div>
        <div class="signup">
            <div class="text">New User : -></div>
            <a href="{% url 'signup'%}">
                <button type="button" class="btn btn-black">Signup</button></a>
        </div>
    </form>
</div>
{% endblock content %}