{% extends 'pylib/base.html' %}  {% load static %} {% block css %}{% static 'home/edit.css'%}{% endblock %} {% block content %}

<div class="box">

    <form action="" method="post">

        {% csrf_token %} {% if message in messages %} {{message}} {% endif %}

        <div class="main ">
            <div class="heading">
                <h4>Changing Password</h4>
            </div>

            {{form.as_p}}

            <button type="submit" class="submit btn btn-dark ">Reset Password</button>
        </div>
        <br>

</div>


</div>
</form>
</div>
{% endblock content %}