{% extends 'registration/acc_base.html' %} {% block title %}Signing Up to Pylib{% endblock %} {% load static %} {% block css %}{% static 'home/edit.css'%}{% endblock%} {% block content %}
<form action="" method="post">
    {% csrf_token %}

    <div class="main">
        <div>
            <h3 class="heading">Welcome to Our site ....</h3>
        </div>



        {{form.as_p}}

        <br>
        <button type="submit" class="btn btn-primary">SignUp</button><br>
        <div class="d-flex ">
            <p> Already Have an account? </p>
            <a href="{% url 'login' %}">
                <button type="button" class="btn btn-primary ms-3">Login</button></a>
        </div><br>
</form> {% endblock content %}