@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
.main {
    margin-top: 2rem;
    margin-right: 28%;
    margin-left: 28%;
    border: inset 1px;
    border-radius: 02%;
    border-spacing: 1px;
    background-color: #6c757d;
    padding: 0%;
    display: grid;
    justify-content: center;
    box-shadow: 2px 3px 5px 2px #545454;
}

.heading {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    margin-bottom: 10%;
    padding-top: 1%;
    margin-top: 10%;
    color: white;
}

.warning {
    color: #d6d6d6;
}

.password {
    text-decoration: none;
    color: white;
}

.password:hover {
    color: orange;
}

.signup-button, .login-button{
    text-decoration: none;
    background-color: #ffffff;
    border: 3px solid #4b8a9f;
    padding: 4px 8px;
    border-radius: 8px;
    margin-right: 1rem;
}

.signup-button:hover, .login-button:hover{
    background-color: #6c757d;
    border: 3px solid white;
    color: #ffffff;
    transition: 0.3s;
}

.login-button:hover{
    background-color: #4b8a9f;
}

.update-button {
    text-decoration: none;
    background-color: #ffffff;
    border: 3px solid #4b8a9f;
    padding: 4px 8px;
    border-radius: 8px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.update-button:hover {
    background-color: #6c757d;
    border: 3px solid #ffffff;
    color: #ffffff;
    transition: 0.3s;
}

input {
    margin-left: 10%;
    margin-right: 30%;
}

.submit {
    margin-bottom: 4%;
}