@media only screen and (min-width: 769px) {
    .card {
        height: 25%;
        display: flex;
        margin: left;
        flex-direction: row;
        margin: 1%;
        padding: 1%;
    }
    .body {
        grid-template-columns: repeat(3, 1fr);
        display: grid;
        flex-direction: row;
        margin: 1%;
    }
}

img {
    width: 30%;
    height: 45%;
    align-items: center;
}

.read {
    display: contents;
    /* justify-content: space-between; */
}

@media only screen and (max-width: 768px) {
    .card {
        width: 100%;
        margin: 1% 1% 1% 1%;
        padding: 1% 1% 1% 1%;
    }
    .body {
        display: block;
        margin: 1% 1% 1% 1%;
    }
}

.text-end {
    padding-left: 1rem;
}

.imgpreview {
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    height: 40%;
}