@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
.box {
    width: 25%;
    height: 50%;
    border: solid;
    border-radius: 2%;
    vertical-align: middle;
    margin-top: 15%;
    padding: 20px;
    background-color: white;
    /* margin: 50px; */
    /* padding-bottom: 50px; */
}

.header {
    text-align: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

body {
    background: url("/static/login.jpg") 50% 0 no-repeat fixed;
    ;
    display: flex;
    justify-content: center;
}

.signup {
    display: flex;
    justify-content: flex-end;
}

.text {
    margin-top: 2%;
    vertical-align: middle;
}