@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
.box {
    width: 25%;
    height: 50%;
    border: solid;
    vertical-align: middle;
    margin-top: 15%;
}

.header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url("/static/login.jpg") 50% 0 no-repeat fixed;
    ;
    display: flex;
    justify-content: center;
}

.login-button{
    text-decoration: none;
    background-color: #ffffff;
    border: 3px solid #4b8a9f;
    padding: 4px 8px;
    border-radius: 5px;
}

.login-button:hover{
    background-color: #5fa36b;
    border: 3px solid #5fa36b;
    color: #ffffff;
    transition: 0.3s;
}

.signup-button{
    background-color: #ffffff;
    border: 3px solid #4b8a9f;
    padding: 4px 8px;
    border-radius: 5px;
}

.signup-button:hover{
    background-color: #5858aa;
    border: 3px solid #5858aa;
    color: #ffffff;
    transition: 0.3s;
}

.signup {
    display: flex;
    justify-content: flex-end;
}

.new-user{
    float: right;
    margin: auto;
    color: #4b8a9f;
}
